@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body{
    font-family: 'Comfortaa', cursive;
}

.container{
    border: 1px solid black;

    width: 95%;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.hex-colors{
    text-align:center;
    animation: colorChange 5s infinite alternate;
   
}

button{
    
    
}

.hex-colors h1{
    font-size:2rem;
}

@keyframes colorChange{
    0%{
        color:indigo;
    }

    20%{
        color:grey;
    }

    40%{
        color:red;
    }

    60%{
        color:green;
    }

    80%{
        color:orange;
    }

    100%{
        color:blue;
    }


    
}

