@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Azeret Mono', monospace;
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color:#fff;
}

.container{

   width: 95%;
   margin: auto;
}

.nav{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
    margin: 25px 0;
}

.nav h2{
    font-size: 2rem;
}

.user-input{
    width:350px;
    text-align:center;
}

.user-input input{
    width: 75%;
    outline: none;
    padding: 8px;
    border: 1px solid lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition:all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;

}

.user-input input:focus{
    box-shadow: 0 0 5px #e22865;
    border:1px solid #e22865;

}

.user-input button{
    cursor:pointer;
    padding: 8px;
    width:fit-content;
    transition: 1s;
    outline: none;
    background-color: #9b9999;
    border: 1px solid #9b9999;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user-input button:hover{
    background-color:rgb(77, 13, 255);
    color:white;
}

.to-do-items{
    width:500px;
    margin: auto;
}

.item{
    background-color: white;
    display: flex;
    justify-content:space-between;
    width: 100%;
    height:100%;
    border-radius: 2px;
    padding: 16px;
    color:#454545;
    margin-top: 10px;
    font:1rem;
    text-transform:uppercase;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition:all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.item:hover{
   box-shadow:0 0 20px red; 
   border:1px solid red;
}

.item i{
    cursor: pointer;
    margin:0 5px;
}

@media(max-width:768px){
    .nav{
        align-items:center;
        flex-direction: column;

    }
    .nav h2{
        margin: 10px 0;
        width: auto;
    }   
    
    .user-input{
        width:100%;
    }

    .to-do-items{
        width: 100%;
    }
}

@media(max-width:480px){
    .nav{
        align-items:center;
        flex-direction: column;

    }
    .nav h2{
        margin: 10px 0;
        width: auto;
    }  
    .user-input input{
        width:70%;
    }
}

@media(max-width:320px){
    .nav{
        align-items:center;
        flex-direction: column;

    }
    .nav h2{
        margin-bottom: 10px;
        width: auto;
        font-size:1.5em;
    }  

    
    .user-input input{
        width:96%;
    
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-bottom:10px;

    }

    .user-input button{
        width:94%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

 


}